#main-game-container{
    display: flex;
}
canvas{
    border: 5px dashed gray;
}

#info-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

#pending-orders-display{
    display: flex;
    justify-content: space-between;
}


.order-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.order-container img{
    height: 50px;
    width: 50px
}

