* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'Roboto Mono', monospace; */
  font-family: 'Press Start 2P', cursive;
  overflow: hidden;
}

#main-game-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

#top-panel {
  display: flex;
  justify-content: space-evenly;
  /* background-color: rgb(236, 236, 198); */
  background-color: purple;
  color: white;
  border: 6px solid white;
  border-top: none;
  height: 15vh
}
#top-panel > *{
    width: 25%;
}


#pending-orders-display {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border-right: 6px solid purple; */
  border-right: 6px solid white;
}

.order-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-right: 6px solid purple; */
  border-right: 6px solid white;
  height: 100%;
  width: 25%;
  padding: 3%;
}

.order-container:last-child{
    border-right: none;
}
.order-container img {
  flex-grow: 1;
  width: 100%;
  padding: 2%;
}

#inventory-container {
  display: flex;
  /* border-right: 6px solid purple; */
  border-right: 6px solid white;
  /* color: purple; */
  justify-content: center;
  align-items: center;
}

#inventory-container h2{
    width: 50%;
}

#inventory-list {
    width: 50%
}
#inventory-list img{
    width: 50%;
    padding: 10%
}
#info-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* color: purple; */
  /* border-right: 6px solid purple; */
  border-right: 6px solid white;

}

#menu-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#menu-buttons button{
  padding: 5% 10%;
  border-radius: 5px;
  /* background-color: purple; */
  font-size: 20px;
  font-weight: 700;
  /* color: rgb(236, 236, 198); */
  color: purple;
}
